<div style="height: 350px;" class="d-flex justify-content-center align-items-center flex-column w-100 bg-dark text-light">
    <div class="d-flex justify-content-between w-100 mb-2 p-3">
        <div class="about w-25">
            <h3><i class="fa-solid fa-truck-fast"></i> DROPCART</h3>
            <p class="mt-3">Designed Build with all love in the world by bootstrap team with the help of our contributors.</p>
            <p>code licensed MIT, docs CC BY 3.0</p>
            <p>currently v5.3.2</p>
        </div>
        <div class="help">
            <h3>Help</h3>
            <div class="d-flex flex-column mt-3">
                <a style="text-decoration: none; color: white;" routerLink="">Home</a>
                <a style="text-decoration: none; color: white;" routerLink="wishlist">Wishlist</a>
                <a style="text-decoration: none; color: white;" routerLink="cart">cart</a>
            </div>
        </div>
        <div class="address">
            <h3>Registerd Address</h3>
            <h6 class="mt-3">kakkanad P.O</h6>
            <h6 class="mt-3">Near collectorate</h6>
            <h6 class="mt-3">682030</h6>
        </div>
        <div class="contact">
            <h3>Contact Us</h3>
            <div style="height: 50px;" class="d-flex mt-3">
                <input type="text" class="form-control" placeholder="Enter Your Email">
                <button class="btn btn-warning ms-1"><i class="fa-solid fa-arrow-right"></i>ㅤ</button>
            </div>
            <div class="icons d-flex justify-content-between mt-3">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-solid fa-envelope"></i>
                <i class="fa-solid fa-phone"></i>
            </div>
        </div>
    </div>
    <p class="fw-bolder text-center">All Rights Reversed &copy; DROPCART &reg; 2024</p>
</div>